<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="text-center">
  <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
    <input [(ngModel)]="name" #ctrl="ngModel" required>
<br>
    <button class="btn btn-danger" (click)="onClose()">Close</button>
  </div>
</ng-template>
